<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录页</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div id="wrap">
  <div id="top_content">
    <div id="header">
      <div id="rightheader"><p>{{dateNow}}<br/></p></div>
      <div id="topheader">
        <h1 id="title"><a href="#">SpringBoot-Vue-MallDemo-MallUserManage</a></h1>
      </div>
      <div id="navigation"></div>
    </div>
    <div id="content">
      <p id="whereami"></p>
      <h1>Login</h1>
      <h4 style="color:red;">{{msg}}</h4>
      <form>
        <table cellpadding="0" cellspacing="0" border="0" class="form_table">
          <tr>
            <td valign="middle" align="right">username</td>
            <td valign="middle" align="left">
              <input type="text" class="inputgri"  v-model="user.mallUserName"/>
            </td>
            <td><span class="error">{{mallUserNameError}}</span></td>
          </tr>
          <tr>
            <td valign="middle" align="right">password</td>
            <td valign="middle" align="left">
              <input type="password" class="inputgri"  v-model="user.mallUserPassword"/>
            </td>
            <td><span class="error">{{mallUserPasswordError}}</span></td>
          </tr>
          <tr>
            <td valign="middle" align="right">verification code</td>
            <td valign="middle" align="left">
              <input type="text" class="inputgri" v-model="verifyCode" valign="middle"/>
            </td>
            <td><span class="error">{{verifyError}}</span></td>
          </tr>
          <tr>
            <td></td>
            <td valign="middle" align="left">
              <img id="verifyImg" src="http://localhost:8070/malluser-manage-api/v1/verifyImg" valign="middle"/>
            </td>
            <td><a href="javascript:;" valign="middle" @click="getVerifyImg()">Hard to see? Get another!</a></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="button" class="button" value="login" @click="login()"/>
              <input type="button" class="button" onclick="location.href='register.html'" value="sign up" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div id="footer">
    <div id="footer_bg">xx@gmail.com</div>
  </div>
</div>
</body>
</html>

<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/vue-2.6.10.js"></script>
<script src="../js/axios.min.js"></script>
<script>

  //创建axios的默认配置
  let instance = axios.create({
    baseURL : "http://localhost:8070",
    timeout : 2000,
  });

  //添加响应拦截器
  instance.interceptors.response.use(function (resp){
    return resp;
  },function (err){
    alert("Something weird happened. Please contact us at xxx@gmail.com");
    alert(err);
  })

  //允许跨域携带cookie,否则在后端项目中session无法共享
  axios.defaults.withCredentials=true;

  new Vue({
    el:"#wrap",
    data:{
      dateNow:"",
      msg:"",

      user:{},
      verifyError:'',
      verifyCode:"",
      mallUserPasswordError:"",
      mallUserNameError: ""
    },
    methods:{
      getVerifyImg() {
        //发送请求时，拼接一个随机数。否则一直是同一个请求，浏览器会缓存，不再发送
        $("#verifyImg").attr("src", 'http://localhost:8070/malluser-manage-api/v1/verifyImg?'+ new Date().getTime());
      },
      login(){
        let thisVue = this;
        instance.post("/malluser-manage-api/v1/matchVerifyCode/?verifyCode="+thisVue.verifyCode).then(function (result) {

          if (result.data.code === "0") {   //验证码匹配成功
            let mallUserParam = {
              mallUserName: thisVue.user.mallUserName,
              mallUserPassword: thisVue.user.mallUserPassword
            };
            instance.post("/malluser-manage-api/v1/userLogin",mallUserParam).then(function (resp){
              if (resp.data.code === '0'){  //登录成功
                //将“登录者对象”存储进行浏览器的session域中
                window.sessionStorage.setItem("mallUserRealName",resp.data.data.mallUserRealName);    //第二个data是后端Result对象中的data属性
                window.sessionStorage.setItem("mallUserName",resp.data.data.mallUserName);
                window.sessionStorage.setItem("mallUserPassword",resp.data.data.mallUserPassword);
                location.href = "empGoodsList.html";
              }else{
                // 注意：1、thisVue    2、resp.data.msg,不是resp.msg
                thisVue.msg = resp.data.msg;
                if (resp.data.code === "mallUserName"){
                  thisVue.mallUserNameError = resp.data.msg;
                }else {
                  thisVue.mallUserNameError = "";
                }
                if (resp.data.code === "mallUserPassword"){
                  thisVue.mallUserPasswordError = resp.data.msg;
                }else{
                  thisVue.mallUserPasswordError = "";
                }

              }
            });
          } else if (result.data.code === "200") {   //验证码匹配失败
              thisVue.verifyError = result.data.msg;
          }
        });
        }
    },
    created(){
      let date = new Date();
      this.dateNow = date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate();
    }
  })
  
</script>